.community{
    .header{
        position: relative;
        .headerImg{
            width: 750px;
            height: 400px;

            img{
                margin-top: -100px;
            }
        }
    }

    .loadingImg{
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: 40px;
        color: #CBA7F9; 

        .taro-img{
            display: block;
            width: 80%;
            margin: 0 auto; 
        }
    }

    .scrollview{
       position: relative;
       margin-top: -100px;
    }

    .footer{
        height: 100px;
        position: fixed;
        bottom:0;
        background: #ffffff;
        color: #bebebe;
        font-size: 28px;
        line-height: 100px;
        box-shadow: 0 2px 2px #bebebe;
        z-index: 9999;
      
        .active {
            color: #CBA7F9;
        //   border-bottom: solid 2px #CBA7F9;
        }
    }
}

.flex-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-tab{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.flex-item{
    width:250px;
    text-align: center;
    cursor: pointer;

    font-size: 20px;
    .taro-img{
        height: 60px;
        width: 60px;
    }

    .menu{
        display: block;
        margin-top:-80px;
    }
}