.contributeItem {
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;

  .taro-img{
    width:650px;
  }

  .title-row {
    height: 80px;

    .title-simple {
      font-size: 20px;
      color: #000000;
    }

    .title-detail {
      opacity: 0.6;
      font-size: 26px;
      color: #000000;
    }
  }

  .thumbnail-row {
    // border: 1px solid #B747C2;
    margin-top:12px;
    height: 240px;
  }

  .info-row{
    margin-top:12px;
    height: 80px;

    .info{
        float:left;
        opacity: 0.6;
        font-size: 26px;
        color: #000000;
        margin-top: 20px;
    }

    .vote-btn{
        float:right;

        .taro-img{
          height: 40px;
          width: 40px;
        }
    }

    .vote-count{
      float:right;
      opacity: 0.6;
      font-size: 26px;
      color: #000000;
      margin-left: 12px;
      margin-top: 20px;
    }
  }
}
