.newsItem{
    height:240px;
    background: #FFFFFF;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.10);
    border-radius: 16px;
    padding:20px;
    margin:20px;

    .thumbnail-col{
        float: left;
        .thumbnail{
            // border: 1px solid #B747C2;
            height: 240px;
            width:240px;
        }
    }
    
    .title-col{
        float: left;
        margin-left: 20px;
        height:240px;
        width:400px;

        .title-text{
            height:178px;
            .title-simple{
                font-size: 28px;
                color: #000000;
                max-width: 400px;
                // line-height: 45px;
            }

            .title-detail{
                opacity: 0.6;
                font-size: 26px;
                color: #000000;
                height:100px;
            }
        }

        .category{
            font-size: 26px;
            color: #CBA7F9;
            border: 1px solid #CBA7F9;
            padding: 10px 20px;
            width: fit-content;
        }
    }
}