.card{
    height:1200px;
    border-radius: 30px;
    text-align: center;

    .card-headr{
        opacity: 0.6;
        font-size: 26px;
        color: #000000;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        width: 400px;
        margin:0px 100px 100px 100px;
    }

    .card-img{
        height:900px;
        width:600px;
    }
}