.home{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding-top: 5vh;

  .home-day{
    font-size: 80px;
    color: hsl(0, 0%, 0%);
  }

  .home-date{
    margin-left: 12px;
    font-size: 36px;
    color: #000000;
  }

  .swiper{
    width: 750px !important;
    height:1200px !important;

    .swiperItem{
      width: 750px !important;
      height:1200px !important;
    }
  }
}