.home{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding-top: 50px;

  .home-day{
    font-size: 80px;
    color: hsl(0, 0%, 0%);
  }

  .home-date{
    font-size: 36px;
    color: #000000;
  }
}